body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .gallery-container {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100vw; 
    height: 95vh;
    margin-top: 20px;
    margin-bottom: 20px; 
  }
  
  .gallery {
    display: inline-block;
    white-space: nowrap;
    grid-gap: 20px;
  }
  
  .gallery img {
    width: auto;
    height: 95vh; 
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
  }

.gallery-container::-webkit-scrollbar {
    display: none;
}
  