body {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #ffffff;
  color: #030303;
  font-size: 16px;
  line-height: 14px;
  letter-spacing: 1px;
}

.gallery-container {
  display: block; 
  overflow: hidden;
  white-space: nowrap;
  width: 100vw; 
  height: 70vh;
  margin-top: 60px;
  margin-bottom: 20px; 
}

.gallery {
  display: inline-block;
  white-space: nowrap;
  grid-gap: 20px;
}

.gallery img {
  width: auto;
  height: 70vh; 
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

.gallery-container::-webkit-scrollbar {
  display: none;
}

.text-box {
  display: grid;
  grid-template-columns: 1fr 3fr; 
  gap: 10px;
  height: auto; 
  margin: 20px; 
}

.title {
  color: rgb(0, 0, 0); 
  font-size: 18px;
  padding: 10px; 
  font-weight: bold;
}

.description {
  color: rgb(0, 0, 0); 
  font-size: 14px;
  padding: 10px; 
}

.name {
  color: rgb(0, 0, 0); 
  font-size: 18px;
  padding: 10px; 
  font-weight: bold;
  margin-left: 20px;
  margin-top: 10px;
}