body {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #ffffff;
  color: #030303;
  font-size: 16px;
  line-height: 14px;
  letter-spacing: 1px;
}

.gallery-container {
  display: block; 
  overflow: hidden;
  white-space: nowrap;
  width: 100vw; 
  height: 70vh;
  margin-top: 60px;
  margin-bottom: 20px; 
}

.gallery {
  display: inline-block;
  white-space: nowrap;
  grid-gap: 20px;
}

.gallery img {
  width: auto;
  height: 70vh; 
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

.gallery-container::-webkit-scrollbar {
  display: none;
}

.text-box {
  display: grid;
  grid-template-columns: 1fr 3fr; 
  gap: 10px;
  height: auto; 
  margin: 20px; 
}

.title {
  color: rgb(0, 0, 0); 
  font-size: 18px;
  padding: 10px; 
  font-weight: bold;
}

.description {
  color: rgb(0, 0, 0); 
  font-size: 13px;
  padding: 10px; 
}


.item {
  display: inline;
}

.nav-bar {
  color: rgb(0, 0, 0); 
  font-size: 18px;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
}

a { color: inherit; }

/* --- MOBILE VIEW (grid layout) --- */
@media (max-width: 768px) {

  .gallery-container {
    overflow: visible;
    height: auto;
    margin-top: 20px;
    padding-left: 30px;
    /* margin-left: 30px; */
    /* margin-right: 20px; */
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    width: calc(100% - 40px);
    gap: 12px;
    justify-items: center;
  }

  .gallery img {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    background-color: #fff; 
  }

  .gallery > * {
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .text-box {
    display: none; /* hide desktop text box */
  }
}

/* --- Modal Styling --- */
.image-modal {
  display: none; 
  position: fixed;
  z-index: 1000;
  inset: 0;
  background: rgba(255, 255, 255, 0.95);
  justify-content: center;
  align-items: center;
  transition: opacity 0.2s ease;
}

.image-modal.active {
  display: flex;
}

.modal-content {
  position: relative;
  max-width: 80%;
  max-height: 90%;
  padding-right: 30px;
}

.modal-content img {
  width: 100%;
  height: auto;
  display: block;
}
